body {
    background-color: yellow;
}
#root {
    height: 400px;
    /*background-image: url('../assets/hippo.png');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    color: white;
}